git_user = 'username'
git_password = 'password'
git_repository = 'GITHUB/YOUR_ILLIAD_WEB_PLATFORM'
git_dev_branch_name = 'testweb'
git_production_branch_name = 'main'
host_illiad_dir = 'C:\illiad\'
host_working_dir = 'C:\illiad\temp' 
web_illiad_uri = 'https://localhost/illiad.dll'
